*{
    box-sizing: border-box;


}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background:linear-gradient(50deg, #d4fc79, #96e6a1) ;
}
#boxPresentation{
    display: flex;
    flex-direction: row; 
    align-items: center;     
    justify-content: center; 
    gap: 8px;
    
}

h1{
    text-align: center;
    font-size: 3rem;
    color: rgb(218, 90, 40);
}
img[alt="iconName"] {
    border: 2px solid #12ee19;
    background-color: #12ee19;
    padding: 8px;
    border-radius: 6px;
  }
  #phrase{
    text-align: center;
    font-size: 12px;
    color: rgb(41, 185, 101);
    font-weight: bold; 
  }
  #writing{
    display: flex;
    flex-direction: row; 
    align-items: center;     
    justify-content: center; 
    gap: 7px;
    margin-bottom: 20px;
  }
  #sayTask{
    border: 1px, solid, rgb(31, 95, 31);
    height: 70px;
    border-radius: 15px;
    background: #12ee19;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: large;
  }
  #sayTask::placeholder{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: bold;        
  }
  #send{
    border: 1px, solid, rgb(31, 95, 31);
    height: 70px;
    border-radius: 10px;
    background: #12ee19;
    font-family: "Poppins", sans-serif;
    font-size: large;
    color: aliceblue;
    font-weight: bold;        
  }
  main{
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: auto auto;
    border: 1px, solid, rgb(8, 133, 74) ;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 70px;
    width: 60%;
    background-color: azure;
    -moz-box-shadow: 9px 10px 16px 6px rgba(6,184,53,1);
   box-shadow: 9px 10px 16px 6px rgba(6,184,53,1);
  }
  #icon-item{
    flex: 10%;
    border: 1px,solid,rgb(148, 219, 34);
  }
  #name-item{
    flex: 75%;
    border: 1px,solid,rgb(148, 219, 34);
   
  }
  #botao-item{
    flex: 15%;
    border: 1px,solid,rgb(148, 219, 34);
   
  }
